# OS files
.DS_Store
.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Bazel sandbox and output
bazel-*

# Other files
*.log
*.bak
*.swp
